.DS_Store

.cache
.logs
.txt
.csv
.json
env*.sh
*.log

# rust target file
target

__pycache__
*.pyc
*.jsonl
*.parquet
.venv
dist

.coverage

.env
.ipynb_checkpoints

format.json
local.env
codebuddy/ai_agents/.memory_store/
.vscode/
logs/
.memory_store/
codebuddy/ai_agents/.memory_store
codebuddy/ai_agents/examples/prompts/
codebuddy/ai_agents/logs
codebuddy/ai_agents/sop_logs
codebuddy/ai_agents/*.txt
codebuddy/ai_agents/auto_workflow/*.json
codebuddy/ai_agents/auto_workflow/report_parse/*.csv
codebuddy/ai_agents/haloos_auto_workflow/*.json
codebuddy/ai_agents/haloos_auto_workflow/report_parse/*.csv
codebuddy/ai_agents/*.sh
codebuddy/ai_agents/ai_agents/modules/haloos_auto_workflow/*.sh
codebuddy/ai_agents/clis/haloos_unit_test/*.sh
codebuddy/ai_agents/poetry.lock
/codebuddy/ai_agents/dist
codebuddy/bak
codebuddy/ai_agents/.env.zyy.sh
bak/
codebuddy/ai_agents/tests/supervisor_agents/detect_static_fix/test_cov_check.py
codebuddy/ai_agents/dist
codebuddy/ai_agents/ai_agents/supervisor_agents/haloos_unit_test/testcase_file_validator_tool.py
codebuddy/ai_agents/tests/supervisor_agents/tree_sitter_ast_analyzer.py
codebuddy/ai_agents/ai_agents/test_litellm_model_creation.py
codebuddy/ai_agents/test_lite_model_creation.py
